{% extends 'layout.html.twig' %}

{% block sub_title 'Admin - ' %}
{% block body %}
<h2 class="content-subhead">Administration</h2>



{% endblock body %}

{% block pagescript %}

{% endblock pagescript %}