{% extends 'layout.html.twig' %}

{% block sub_title 'Queue - ' %}
{% block body %}
<h2 class="content-subhead">Queue Control</h2>


{% endblock body %}

{% block pagescript %}
<script type="text/javascript" >
 
 var apiKey = 'aaaa';
 
//set the api key
urlshort.queue.activity.ActivityRequest.apiKey('example key');

var oPagedStore = new urlshort.queue.common.PageDataStore();

oPagedStore.init({method:'GET','pageLimit':110}
                ,urlshort.queue.activity.ActivityRequest);

oPagedStore.onRefresh({
    
}).then(function(data){

    oPagedStore.onPageForwards().then(function(data){
        oPagedStore.onPageBackwards().then(function(data){
            oPagedStore.onPageForwards().then(function(data){
                //console.log(data)
            
            });
            
        });
        
    })
});




</script>

{% endblock pagescript %}