{% extends 'layout.html.twig' %}

{% block sub_title 'Queue - ' %}
{% block body %}
<h2 class="content-subhead">Queue Control</h2>
<div id="inner-container">
    
    
</div>
{% endblock body %}

{% block pagescript %}
<script type="text/javascript" >
 
 var apiKey = 'aaaa';
 
//set the api key
urlshort.queue.activity.ActivityRequest.apiKey('example key');

m.module(document.getElementById('inner-container'), urlshort.queue.activity);



</script>

{% endblock pagescript %}